---
import { TfiWorld } from "react-icons/tfi";
import { CiMonitor } from "react-icons/ci";
import { IoMdPhotos } from "react-icons/io";
import feature1 from "../assets/images/image-innovation-2048x2048.webp";
import feature2 from "../assets/images/cohete.webp";
import feature3 from "../assets/images/pc-ia.webp";
import feature4 from "../assets/images/code.webp";
import feature5 from "../assets/images/centerpadel.png";

---

<section class="w-full section-with-glow pt-24 md:pt-[12vw] lg:pt-16 z-20 relative border-b-[1px] border-bgDark3 section-shadow">
  <div class="w-screen flex justify-center relative">
    <div
      class="w-11/12 sm:w-4/5 lg:w-[90%] xl:w-[80%] 2xl:w-[1200px] mx-auto grid gap-10 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 z-10 rounded-xl mt-[-50px] lg:mt-[-150px] xl:mt-[-250px]"
      id="features"
    >
      <div
        class="feature-card hover:cursor-pointer p-6 flex flex-col items-center gap-6 rounded-3xl backdrop-blur-lg duration-300 ease-in-out h-[350px] shadow-[0_0_50px_0_rgba(200,200,200,0.1)] bg-[rgba(200,200,200,0.2)] main-border-gray-darker mb-4 relative cursor-pointer transition opacity-0 transform translate-y-10"
      >
        <TfiWorld className="text-6xl text-primaryText" />
        <h4 class="text-[#ddff53] text-2xl font-semibold text-center custom-shadow">
          Desarrollo web
        </h4>
        <p class="text-primaryText text-center text-base">
          Creamos sitios web modernos, rápidos y seguros. Diseñados a medida para
          potenciar tu negocio y ofrecer la mejor experiencia a tus usuarios.
        </p>
      </div>
      <div
        class="feature-card hover:cursor-pointer p-6 flex flex-col items-center gap-6 rounded-3xl mt-12 backdrop-blur-lg duration-300 ease-in-out h-[350px] shadow-[0_0_50px_0_rgba(200,200,200,0.1)] bg-[rgba(200,200,200,0.2)] main-border-gray-darker mb-4 relative cursor-pointer transition opacity-0 transform translate-y-10"
      >
        <CiMonitor className="text-6xl text-primaryText" />
        <h4 class="text-[#ddff53] text-2xl font-semibold text-center custom-shadow">
          Software a Medida
        </h4>
        <p class="text-primaryText text-center text-base">
          Soluciones de software adaptadas a tus necesidades específicas. Optimiza
          procesos y mejora la eficiencia de tu empresa con nuestras aplicaciones a
          medida.
        </p>
      </div>
      <div
        class="feature-card hover:cursor-pointer p-6 flex flex-col items-center gap-6 rounded-3xl backdrop-blur-lg duration-300 ease-in-out h-[350px] shadow-[0_0_50px_0_rgba(200,200,200,0.1)] bg-[rgba(200,200,200,0.2)] main-border-gray-darker mb-4 relative cursor-pointer transition opacity-0 transform translate-y-10"
      >
        <IoMdPhotos className="text-6xl text-primaryText" />
        <h4 class="text-[#ddff53] text-2xl font-semibold text-center custom-shadow">
          Redes Sociales
        </h4>
        <p class="text-primaryText text-center text-base">
          Impulsa tu marca con estrategias de redes sociales efectivas. Aumenta tu
          alcance y conecta con tu audiencia de manera auténtica y significativa.
        </p>
      </div>
    </div>
  </div>

  <div
    class="flex flex-wrap items-center 2xl:w-[1450px] xl:w-[1300px] w-11/12 mx-auto md:pl-4 xl:pr-16 xl:pl-16 py-28 xl:pt-[100px]"
    id="about"
  >
    <div class="w-full lg:w-1/2 mb-12 mt-32 lg:mb-0">
      <div class="mx-auto lg:mx-auto w-11/12 sm:w-4/5 md:w-3/4 lg:w-unset">
        <span class="block-subtitle">Abrazando la Innovación</span>
        <h2 class="mt-6 mb-8 text-4xl lg:text-5xl block-big-title">
          Agencia Technodevs
        </h2>
        <p class="mb-10 text-secondaryText leading-loose">
          La vida ha dado un giro hacia la digitalización, creando una
          inteligencia artificial más avanzada de lo que jamás imaginamos. Los
          canales de venta han cambiado, las relaciones se han transformado, el
          trabajo se ha redefinido y la tecnología avanza a pasos agigantados.
          Nada es como antes; la publicidad ya no es lo único.
        </p>
        <p class="mb-10 text-secondaryText leading-loose">
          En este nuevo escenario, surge Technodevs, estamos aquí para ayudarte
          a explorar las infinitas oportunidades del universo digital, construir
          una identidad visual poderosa y destacar entre las demás empresas.
          Somos únicos y nuestra forma de trabajar también lo es. No solo
          seguimos tendencias, las creamos, siempre enfocados en generar un
          impacto significativo.
        </p>
        <a href="#FAQ" class="w-[210px] h-12 contained-button bg-secondary-950 mr-10">
          Contáctanos
        </a>
      </div>
    </div>
    <div
      class="w-3/4 mx-auto lg:w-1/2 flex flex-wrap lg:-mx-4 sm:pr-8 lg:pt-10 justify-center lg:pl-4 xl:px-8"
    >
      <div class="mb-8 lg:mb-0 w-full sm:w-1/2 px-2 lg:px-0">
        <div class="mb-4 py-3 pl-3 pr-2 rounded">
          <img
            src={feature1.src}
            alt="Feature image 1"
            class="rounded-xl main-border-gray mx-auto sm:mx-unset"
            aria-label="Feature image 1"
          />
        </div>
        <div class="py-3 pl-3 pr-2 rounded">
          <img
            src={feature2.src}
            alt="Feature image 2"
            class="rounded-xl main-border-gray mx-auto sm:mx-unset"
            aria-label="Feature image 2"
          />
        </div>
      </div>
      <div class="w-1/2 lg:mt-20 pt-12 lg:pt-0 px-2 hidden sm:inline-block">
        <div class="mb-4 py-3 pl-3 pr-2 rounded-lg">
          <img
            src={feature3.src}
            alt="Feature image 3"
            class="rounded-xl main-border-gray"
            aria-label="Feature image 3"
          />
        </div>
        <div class="py-3 pl-3 pr-2 rounded-lg">
          <img
            src={feature4.src}
            alt="Feature image 4"
            class="rounded-xl main-border-gray"
            aria-label="Feature image 4"
          />
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  if (typeof window !== "undefined") {

    const cards = document.querySelectorAll('.feature-card');
    
    const options = {
      root: null,
      rootMargin: '0px',
      threshold: 0.30,
    };

    const observer = new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('fade-in');
          observer.unobserve(entry.target);
        }
      });
    }, options);

    cards.forEach(card => observer.observe(card));
  }
</script>


<style>
  .feature-card {
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
  }

  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }

  .feature-card {
    opacity: 0;
    transform: translateY(50px);
  }

  .custom-shadow {
        filter: drop-shadow(0 0 3mm rgb(221,255,83, 0.5));
    }

    .section-with-glow {
  background: 
    radial-gradient(600px circle at 10% 60%, rgba(221, 255, 83, 0.2), transparent 60%),
    radial-gradient(500px circle at 80% 70%, rgba(156,158,239, 0.2), transparent 70%),
    #121312;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.section-shadow{
  -webkit-box-shadow: 0px 24px 22px -30px rgba(255,255,255,1);
-moz-box-shadow: 0px 24px 22px -30px rgba(255,255,255,1);
box-shadow: 0px 24px 22px -30px rgba(255,255,255,.2)
}

</style>
