---
import feature1 from "../assets/images/image-innovation-2048x2048.webp";
import feature2 from "../assets/images/saas.webp";
import feature3 from "../assets/images/pc-ia.webp";
import feature4 from "../assets/images/mobile-app.webp";
import { Image } from "astro:assets";
import WebAppIcon from "./Icons/WebAppIcon.astro";
import CustomSoftwareIcon from "./Icons/CustomSoftwareIcon.astro";
import SaaSIcon from "./Icons/SaaSIcon.astro";
---

<section class="w-full section-with-glow pt-7 md:pt-[12vw] lg:pt-16 z-20 relative">
  <div class="w-screen flex justify-center relative">
    <div
      class="w-11/12  sm:w-4/5 lg:w-[90%] xl:w-[80%] 2xl:w-[1200px] mx-auto lg:grid gap-0 lg:gap-3 xl:gap-10 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 z-10 rounded-xl lg:mt-[-150px] xl:mt-[-250px]"
      id="features"
    >
      
      <div
        class="feature-card hover:cursor-pointer p-6 flex flex-col items-center gap-4 rounded-t-xl lg:rounded-3xl backdrop-blur-lg duration-300 ease-in-out lg:min-h-[300px] shadow-[0_0_50px_0_rgba(200,200,200,0.1)] bg-[#03041f] lg:bg-[rgba(200,200,200,0.2)] relative cursor-pointer transition opacity-0 transform translate-y-10 lg:border-[1px] lg:border-white/20" 
      >
        <WebAppIcon />
        <h4 class="gradient-text text-2xl font-semibold text-center custom-shadow">
          Web Apps
        </h4>
        <p class="text-primaryText text-center text-base hidden lg:flex">
          Desarrollamos aplicaciones web modernas y seguras, totalmente adaptadas a las necesidades de tu negocio. Soluciones escalables, integrables y optimizadas para brindar experiencias eficientes a tus usuarios.
        </p>
      </div>
      <div
        class="feature-card hover:cursor-pointer p-6 flex flex-col items-center gap-4 lg:rounded-3xl lg:mt-12 backdrop-blur-lg duration-300 ease-in-out lg:min-h-[300px] lg:h-full shadow-[0_0_50px_0_rgba(200,200,200,0.1)] bg-[#03041f] lg:bg-[rgba(200,200,200,0.2)] relative cursor-pointer transition opacity-0 transform translate-y-10 lg:border-[1px] lg:border-white/20" 
      >
          <CustomSoftwareIcon/>
        <h4 class="gradient-text text-2xl font-semibold text-center custom-shadow">
          Software a Medida
        </h4>
        <p class="text-primaryText text-center text-base hidden lg:flex">
          Creamos sistemas personalizados que se ajustan a tus procesos internos. Desde la automatización de tareas hasta el manejo de datos complejos, mejoramos tu operación con tecnología pensada exclusivamente para vos.
        </p>
      </div>
      <div
        class="feature-card hover:cursor-pointer p-6 flex flex-col items-center gap-4 rounded-b-3xl lg:rounded-3xl backdrop-blur-lg duration-300 ease-in-out lg:min-h-[300px] shadow-[0_0_50px_0_rgba(200,200,200,0.1)] bg-[#03041f] lg:bg-[rgba(200,200,200,0.2)] relative cursor-pointer transition opacity-0 transform translate-y-10 lg:border-[1px] lg:border-white/20" 
      >
        <SaaSIcon />
        <h4 class="gradient-text text-2xl font-semibold text-center custom-shadow">
          SaaS
        </h4>
        <p class="text-primaryText text-center text-base hidden lg:flex">
          Convertimos ideas en plataformas digitales rentables. Diseñamos y desarrollamos soluciones SaaS listas para escalar, con gestión de usuarios, suscripciones y funcionalidades robustas desde el día uno.
        </p>
      </div>
    </div>
  </div>

  <div
    class="flex flex-wrap items-center 2xl:w-[1450px] xl:w-[1300px] w-11/12 mx-auto md:pl-4 xl:pr-16 xl:pl-16 py-28 xl:pt-[100px]"
    id="about"
  >
    <div class="w-full lg:w-1/2 mb-12 mt-10 lg:mt-32 lg:mb-0">
      <div class="mx-auto lg:mx-auto w-11/12 sm:w-4/5 md:w-3/4 lg:w-unset">
        <span class="block-subtitle">Abrazando la Innovación</span>
        <h2 class="mt-6 mb-8 text-4xl lg:text-4xl block-big-title">
          Impulsamos tu transformación digital
        </h2>
        <p class="mb-3 text-secondaryText leading-loose">
          La tecnología evoluciona a gran velocidad: los procesos cambian, los canales de venta se digitalizan y la inteligencia artificial redefine cómo trabajamos. En este nuevo contexto, las empresas necesitan más que visibilidad: necesitan eficiencia, automatización y escalabilidad.
        </p>
        <p class="mb-6 text-secondaryText leading-loose">
          En Technodevs, desarrollamos software a medida, plataformas SaaS y aplicaciones web que acompañan ese cambio. No solo entendemos la transformación digital: la diseñamos, la construimos y la hacemos funcionar para tu negocio.
        </p>
        <div class="flex flex-col items-center lg:items-start max-w-[40rem] gap-10 lg:gap-2 self-end sm:gap-4 sm:self-auto  custom-shadow z-20 h-full justify-center">
          <a href="https://wa.me/+5492646270803" target="_blank"
          class="relative w-[200px] h-[50px] rounded-full p-[2px] bg-gradient-to-r from-primaryColor to-secondary-200 bg-[length:200%_200%] bg-[0%_0%] hover:bg-[100%_0%] transition-all duration-200 ease-out"
          >
          <span
          class="flex items-center justify-center w-full h-full bg-[#03041f] text-white rounded-full"
          >
          Contáctanos
        </span>
      </a>
    </div>
      </div>
  </div>
    <div
      class="hidden w-3/4 mx-auto lg:w-1/2 lg:flex flex-wrap lg:-mx-4 sm:pr-8 lg:pt-10 justify-center lg:pl-4 xl:px-8"
    >
      <div class="mb-8 lg:mb-0 w-full sm:w-1/2 px-2 lg:px-0">
        <div class="mb-4 py-3 pl-3 pr-2 rounded">
          <Image
            src={feature1}
            alt="Mujer iluminada por rayo celeste"
            class="rounded-xl main-border-gray mx-auto sm:mx-unset"
          />
        </div>
        <div class="py-3 pl-3 pr-2 rounded">
          <Image
            src={feature2}
            alt="Cohete Despegando"
            class="rounded-xl main-border-gray mx-auto sm:mx-unset"
          />
        </div>
      </div>
      <div class="w-1/2 lg:mt-20 pt-12 lg:pt-0 px-2 hidden sm:inline-block">
        <div class="mb-4 py-3 pl-3 pr-2 rounded-lg">
          <Image
            src={feature3}
            alt="Mujer Programando"
            class="rounded-xl main-border-gray"
          />
        </div>
        <div class="py-3 pl-3 pr-2 rounded-lg">
          <Image
            src={feature4}
            alt="Codigo de programación"
            class="rounded-xl main-border-gray"
          />
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  if (typeof window !== "undefined") {

    const cards = document.querySelectorAll('.feature-card');
    
    const options = {
      root: null,
      rootMargin: '0px',
      threshold: 0.40,
    };

    const observer = new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('fade-in');
          observer.unobserve(entry.target);
        }
      });
    }, options);

    cards.forEach(card => observer.observe(card));
  }
</script>


<style>
  .feature-card {
    transition: opacity 0.9s ease-out, transform 0.9s ease-out;
  }

  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }

  .feature-card {
    opacity: 0;
    transform: translateY(50px);
  }


    .section-with-glow {
  background: 
    radial-gradient(600px circle at 10% 60%, rgba(221, 255, 83, 0.2), transparent 60%),
    radial-gradient(500px circle at 80% 70%, rgba(156,158,239, 0.2), transparent 70%),
    #121312;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.section-shadow{
  -webkit-box-shadow: 0px 24px 22px -30px rgba(255,255,255,1);
-moz-box-shadow: 0px 24px 22px -30px rgba(255,255,255,1);
box-shadow: 0px 24px 22px -30px rgba(255,255,255,.1)
}


</style>
