---
const footerData = [
  {
    title: "Productos y Servicios",
    items: [
      "Creación de páginas web",
      "Creación de chatbots",
      "Diseño gráfico",
      "Contenido para redes",
      "PALTA",
    ],
  },
  {
    title: "Enlaces Importantes",
    items: [
      "Preguntas Frecuentes",
      "Sobre Nosotros",
      "Términos y Condiciones",
      "Política de Privacidad",
      "Contacto",
    ],
  },
  {
    title: "Empresa",
    items: ["Acerca de Technodevs", "Carreras", "Noticias", "Contáctanos"],
  },
];
---

<footer aria-label="Site footer">
  <div class="pt-10 lg:pt-20 lg:pb-16 bg-bgDark1 radius-for-skewed">
    <div class="container mx-auto px-4 w-4/5 md:w-11/12 lg:w-10/12 xl:w-4/5 2xl:w-2/3">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-1/3 mb-16 lg:mb-0">
          <div class="flex justify-center lg:justify-start items-center grow basis-0">
            <div class="text-white mr-2 text-6xl">
              <!-- <TailcastLogo /> -->
            </div>
            <div class="text-white font-['Inter'] font-bold text-xl">Technodevs</div>
          </div>
          <p class="mb-10 mt-4 sm:w-[22rem] lg:w-[20rem] xl:w-[24rem] text-gray-400 leading-loose text-center lg:text-left mx-auto lg:mx-0">
            En Technodevs creamos soluciones innovadoras para potenciar tu negocio. Estamos aquí para ayudarte a crecer.
          </p>
          <div class="w-36 mx-auto lg:mx-0">
            <a
              class="inline-block w-10 h-10 mr-2 p-2 pt-[0.55rem] outlined-button"
              href="https://www.instagram.com/agencia.technodevs/"
              target="_blank"
              aria-label="Instagram"
            >
              <!-- Icono Instagram -->
              <svg class="w-6 h-6 text-gray-400 hover:text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 8h.01M16 12h.01M12 16h.01M21 12c0-2.209-2.691-4-6-4s-6 1.791-6 4 2.691 4 6 4 6-1.791 6-4zM4 12a1 1 0 011-1m14 0a1 1 0 00-1-1m-7 0a1 1 0 011-1m6 2a1 1 0 01-1 1" />
              </svg>
            </a>
            <a
              class="inline-block w-10 h-10 mr-2 p-2 pt-[0.55rem] pl-[0.55rem] outlined-button"
              href="https://www.linkedin.com/company/technodevsweb/?originalSubdomain=ar"
              target="_blank"
              aria-label="LinkedIn"
            >
              <!-- Icono LinkedIn -->
              <svg class="w-6 h-6 text-gray-400 hover:text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8a6 6 0 00-6-6H6a6 6 0 00-6 6v10a6 6 0 006 6h4a6 6 0 006-6V8zM6 16h4m0-8v8m-4-8h4M8 4h.01M20 8h.01M16 12h.01" />
              </svg>
            </a>
          </div>
        </div>
        <div class="w-full lg:w-2/3 lg:pl-16 hidden lg:flex flex-wrap justify-between">
          {footerData.map(({ title, items }, sectionIndex) => (
            <div class="w-full md:w-1/3 lg:w-auto mb-16 md:mb-0">
              <h3 class="mb-6 text-xl font-bold text-primaryText">{title}</h3>
              <ul>
                {items.map((item, itemIndex) => (
                  <li class="mb-4">
                    <a class="text-gray-400 hover:text-gray-300" href="#" aria-label={item}>
                      {item}
                    </a>
                  </li>
                ))}
              </ul>
            </div>
          ))}
        </div>
      </div>
    </div>
    <div class="mt-10 text-center text-gray-400">
      <p>Contacto: technodevscontacto@gmail.com</p>
    </div>
  </div>
</footer>
