---
import { BiLogoInstagram } from "react-icons/bi";
import { FaLinkedin } from "react-icons/fa";
import { FaSquareBehance } from "react-icons/fa6";
import TechnodevsLogo from "../assets/images/logotech@2x-300x61.png";

const navbarLinks = [
  { label: "Nosotros", href: "/#about", ariaLabel: "Home" },
  { label: "Proyectos", href: "/#projects", ariaLabel: "Projects" },
  { label: "Planes", href: "/#pricing", ariaLabel: "Pricing" },
  { label: "Blog", href: "/#blog", ariaLabel: "blog" },
  { label: "FAQ", href: "/#FAQ", ariaLabel: "FAQ" },
];
---

<nav
  id="navbar"
  class="w-full h-20 flex flex-col justify-center items-center fixed z-[1000] transition-colors duration-300"
  aria-label="Main navigation"
>
  <div class="2xl:w-[1280px] xl:w-10/12 w-11/12 flex justify-between items-center relative">
    <a href="/#home" aria-label="Home">
      <div class="flex justify-start items-center grow basis-0">
        <div>
          <img
            src={TechnodevsLogo.src}
            alt="logo"
            class="w-[60%]"
            loading="eager"
          />
        </div>
      </div>
    </a>
    <div class="hidden lg:flex h-full pl-12 pb-2">
      {navbarLinks.map(({ href, label, ariaLabel }) => (
        <a
          class="text-white lg:text-base text-2xl leading-6 mr-4 ml-4 2xl:mr-6 2xl:ml-6 cursor-pointer font-normal lg:font-medium hover:scale-110 transition h-full pt-2"
          href={href}
          aria-label={ariaLabel}
        >
          {label}
        </a>
      ))}
    </div>
    <div class="grow basis-0 justify-end hidden lg:flex gap-4">
      <a href="https://www.instagram.com/agencia.technodevs/" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
        <BiLogoInstagram className="text-white text-2xl hover:text-gray-400 transition" />
      </a>
      <a href="https://www.linkedin.com/company/technodevsweb/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
        <FaLinkedin className="text-white text-2xl hover:text-gray-400 transition" />
      </a>
      <a href="https://www.behance.net/technodevs" target="_blank" rel="noopener noreferrer" aria-label="Behance">
        <FaSquareBehance className="text-white text-2xl hover:text-gray-400 transition" />
      </a>
    </div>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const navbar = document.getElementById("navbar");
    const isBlogPage = window.location.href.includes("posts");

    if (isBlogPage) {
      navbar.classList.add("bg-blackPrimary", "static");
      navbar.classList.remove("fixed");
    } else {
      window.addEventListener("scroll", () => {
        if (window.scrollY > 0) {
          navbar.classList.add("bg-gray-950/70", "backdrop-blur-md", "shadow-md");
          navbar.classList.remove("bg-transparent");
        } else {
          navbar.classList.add("bg-transparent");
          navbar.classList.remove("bg-gray-950/70", "backdrop-blur-md", "shadow-md");
        }
      });
    }
  });
</script>
