---
import Navbar from "../components/Navbar.astro";
import { Footer } from "../components/Footer";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-bgDark1">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicontech.png" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="Technodevs"
      content="Creamos sitios web modernos, rápidos y seguros. Diseñados a medida para potenciar tu negocio y ofrecer la mejor experiencia a tus usuarios."
    />
    <title>{title}</title>
    <link
      rel="preload"
      href="/fonts/Inter_18pt-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Inter_18pt-Medium.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Inter_24pt-ExtraBold.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/Inter_18pt-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-bgDark1">
    <main aria-label="Main content">
      <Navbar />
      <slot />
      <Footer />
    </main>
    <style is:global>
      @font-face {
        font-family: "Inter";
        src: url("/fonts/Inter_18pt-Bold.woff2") format("woff2");
        font-weight: 700;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Inter";
        src: url("/fonts/Inter_18pt-Regular.woff2") format("woff2");
        font-weight: 400;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Inter";
        src: url("/fonts/Inter_18pt-Medium.woff2") format("woff2");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Inter";
        src: url("/fonts/Inter_24pt-ExtraBold.woff2") format("woff2");
        font-weight: 800;
        font-style: normal;
        font-display: swap;
      }

      @font-face {
        font-family: "Inter";
        src: url("/fonts/Inter_18pt-Light.woff2") format("woff2");
        font-weight: 300;
        font-style: normal;
        font-display: swap;
      }

      html {
        font-family: Inter;
        overflow-x: hidden;
        scroll-behavior: smooth !important;
      }
    </style>
  </body>
</html>
